<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.nsu.fit.theater">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChoosePerformanceActivity"></activity>
        <activity
                android:name=".ActorsActivity"
                android:label="Актеры">
        </activity>
        <activity
                android:name=".CreateActorActivity"
                android:label="Создать актера">
        </activity>
        <activity
                android:name=".UpdateActorActivity"
                android:label="Редактировать актера">
        </activity>
        <activity
            android:name=".PerformanceActivity"
            android:label="@string/title_activity_performance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateSpectacle" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.tickets.TicketsActivity" />
    </application>

</manifest>